.panel-default > .panel-heading, .navbar-default {
	background-color: #d86e00;
	color:white;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color:white;
}

.btn-login, .btn-register {
	background-color: #d86e00;
	color: white;
}

.btn-link {
	color: #d86e00;
}